<h1>Bienvenidos al chat WebSockets</h1>

<div>
    <label for="">Mensaje:</label>
    <br>
    <input type="text" id="chatBox" placeholder="message"/>
</div>

<div>
    <p id="messagesLogs"></p>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.socket.io/4.7.4/socket.io.min.js"></script>
<script src="js/main.js"></script>